jobs:

  snapshot:

    working_directory: ~/project

    machine:
      image: ubuntu-1604:201903-01
      resource_class: large

    steps:

      - checkout

      - restore_cache:
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

      - run:
          name: Setup SBT
          command: |
            mkdir -p ~/.sbt
            echo "realm=Artifactory Realm" > ~/.sbt/.credentials
            echo "host=zeotap.jfrog.io" >> ~/.sbt/.credentials
            echo "user=$MAVEN_USER" >> ~/.sbt/.credentials
            echo "password=$MAVEN_PASSWORD" >> ~/.sbt/.credentials
      - run:
          name: Package the Jar
          command: |
            sbt clean test publish
      - save_cache:
          paths:
            - ~/.sbt
            - ~/.m2/repository
            - ~/.ivy2
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

  release:

    working_directory: ~/project

    machine:
      image: ubuntu-1604:201903-01
      resource_class: large

    steps:

      - checkout

      - add_ssh_keys:
          fingerprints:
            - "97:a5:fb:da:7f:b9:e8:4a:86:1c:c6:5d:ab:91:0b:ec"

      - run:
          name: Configure git
          command: |
            git config user.name "Release Script"
            git config user.email "builds@zeotap.com"
      - restore_cache:
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

      - run:
          name: Setup SBT
          command: |
            mkdir -p ~/.sbt
            echo "realm=Artifactory Realm" > ~/.sbt/.credentials
            echo "host=zeotap.jfrog.io" >> ~/.sbt/.credentials
            echo "user=$MAVEN_USER" >> ~/.sbt/.credentials
            echo "password=$MAVEN_PASSWORD" >> ~/.sbt/.credentials
      - run:
          name: Package the Jar
          command: |
            if grep -Fq "SNAPSHOT" version.sbt
            then
              sbt 'release with-defaults'
              sleep 5
              GIT_COMMITTER_DATE="$(date)" git commit --amend --no-edit --date "$(date)"
              git checkout development
              git rebase master
              git push origin development -f
              git checkout master
              git reset --hard HEAD~1
              git push origin master --tags
            else
              sbt clean test publish
            fi
      - save_cache:
          paths:
            - ~/.sbt
            - ~/.m2/repository
            - ~/.ivy2
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

  buildonly:

    working_directory: ~/project

    machine:
      image: ubuntu-1604:201903-01
      resource_class: large

    steps:

      - checkout

      - restore_cache:
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

      - run:
          name: Setup SBT
          command: |
            mkdir -p ~/.sbt
            echo "realm=Artifactory Realm" > ~/.sbt/.credentials
            echo "host=zeotap.jfrog.io" >> ~/.sbt/.credentials
            echo "user=$MAVEN_USER" >> ~/.sbt/.credentials
            echo "password=$MAVEN_PASSWORD" >> ~/.sbt/.credentials
      - run:
          name: Package the Jar
          command: |
            sbt clean test package
      - save_cache:
          paths:
            - ~/.sbt
            - ~/.m2/repository
            - ~/.ivy2
          key: source-{{ .Environment.CACHE_VERSION }}-{{ checksum "build.sbt" }}

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - snapshot:
          context: Q3-2020
          filters:
            branches:
              only: /^(development|temp)$/
      - release:
          context: Q3-2020
          filters:
            branches:
              only: /^master$/
      - buildonly:
          context: Q3-2020
          filters:
            branches:
              ignore: /^(development|master|temp)$/
